<div class="outer">
    <div class="inner">
        <div class="top-section">
            <img src="images/duckling.png" alt="profile-photo">
            <br>
            <h3>Arif Furqon</h3>
            <small>Designer and Developer</small>
        </div>
        <hr>
        <div class="content">Hi there! I am a San Francisco based freelance designer and developer. I am in the process of building a few different startups, will be updating soon!
            <br>
            <br> Find me on <a href="https://twitter.com/ariffurqon">Twitter</a>,
            <a href="https://github.com/ariffurqon">GitHub</a>,
            and check out my
            <a href="http://arif.design">blog</a>.
            <br>
        </div>
    </div>
</div>